body {
    font-family: sans-serif;
    letter-spacing: 1px;
    text-transform: uppercase;
    user-select: none;
    overflow: hidden;
}

main, label {
    background-color: whitesmoke;
    color: midnightblue;
    background-image: linear-gradient(to right, whitesmoke 50%, midnightblue 50%);
    background-size: 200% 100%;
}

main {
    display: flex;
    justify-content: space-evenly;
    height: 100%;
    position: fixed;
    z-index: -10;
    top: 0;
    left: 0;
    width: 100%;
    transition: all ease-in-out 1s;
    padding: 18vh 0 0;
}

label {
    padding: 8px;
    left: 0;
    right: 0;
    margin: 8vh auto 8px;
    border: 1px solid midnightblue;
    cursor: pointer;
}


header {
    position: absolute;
    left: 0;
    right: 0;
    top: 1vh;
    text-align: center;
    color: midnightblue;
    transition: all ease-in-out 1s;
}

a {
    color: inherit;
    text-decoration: inherit;
}

input {
    display: none;
}

input:first-of-type:checked ~ main {
    background-color: midnightblue;
    color: whitesmoke;
    background-position: -100% 0;
}

input:first-of-type:checked ~ header {
    color: whitesmoke;
}

input:first-of-type:checked ~ label {
    background-color: midnightblue;
    color: whitesmoke;
    background-position: -100% 0;

    border: 1px solid whitesmoke;
    box-shadow: 0 4px 0 whitesmoke, 0 4px 0 0 whitesmoke;
}

input:first-of-type:checked ~ label:active {
    box-shadow: none;
}

input:first-of-type:checked ~ label:after {
    box-shadow: none;
}

label {
    display: block;
    width: fit-content;
    background-color: whitesmoke;
    color: midnightblue;
    box-shadow: 0 4px 0 midnightblue, 0 4px 0 0 midnightblue;
    transition: box-shadow 100ms ease-in-out, background-position 1s ease-in-out, color 1s ease-in-out, border 1s ease-in-out;
}

label:active {
    box-shadow: none;
}

input:first-of-type:checked ~ main section:first-of-type > article {
    color: midnightblue;
    opacity: 0;
    pointer-events: none;
}

input:first-of-type:not(:checked) ~ main section:last-of-type > article {
    color: whitesmoke;
    opacity: 0;
    pointer-events: none;
}


section {
    display: flex;
    flex-direction: column;
    z-index: 10;
    height: 80%;
    justify-content: space-evenly;
}

section:last-of-type {
    right: 0;
    direction: rtl;
}

section > article {
    display: flex;
    flex-direction: row;
    width: 14vh;
    height: 14vh;
    padding: 1vh;
    transition: all 500ms ease-in-out;
    margin-bottom: 8px;
    z-index: 10;
}

section:first-of-type > article > div, section:last-of-type > article > div {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    transition: all 500ms ease-in-out;
    opacity: 0;
}

section:first-of-type > article > div {
    padding-left: 2vw;
}

section > article:target {
    flex-grow: 1;
    width: 40vh;
    height: 19vh;
}

section > article:target > div {
    opacity: 100;
}

section:first-of-type > article {
    text-align: left;
    background: url("../img/blue-panel.svg");
    color: whitesmoke;
}

section:last-of-type > article {
    text-align: right;
    background: url("../img/white-panel.svg");
    color: midnightblue;
}

section > article > a {
    display: flex;
    flex-direction: column;
}

section > article > a > img {
    height: 10vh;
    padding: 1vh;
    animation: spin 1s ease-in-out infinite;
}

section > article:target > a > img {
    animation: none;
}

body > div > div {
    position: fixed;
    width: 3px;
    height: 3px;
    background-color: whitesmoke;
    animation: movingStars infinite;
}

input:checked ~ img[src="img/sun.svg"] {
    display: none;
}

input:checked ~ img[src="img/cloud.svg"] {
    display: none;
}

input:not(:checked) ~ div {
    display: none;
}

input:not(:checked) ~ img[src="img/moon.svg"] {
    display: none;
}

img[src="img/sun.svg"] {
    position: absolute;
    height: 20vw;
    top: 20vh;
    right: 8px;
    z-index: -10;
    margin-right: 5vw;
    transition: all ease-in-out 1s;
}

img[src="img/moon.svg"] {
    position: absolute;
    height: 20vw;
    top: 20vh;
    left: 8px;
    z-index: -10;
    margin-left: 1vw;
    transition: all ease-in-out 1s;
}

img[src="img/cloud.svg"] {
    position: absolute;
    height: 15vh;
    top: 4vh;
    animation: cloud 20s linear infinite;
    pointer-events: none;
}

img[src="img/moon.svg"]:hover, img[src="img/sun.svg"]:hover {
    transform: rotate(-360deg);
}

div:nth-child(1) {
    animation-duration: 6s;
    top: 200%
}

div:nth-child(2) {
    animation-duration: 5s;
    top: 60%;
}

div:nth-child(3) {
    animation-duration: 4s;
    top: 90%;
}

div:nth-child(4) {
    animation-duration: 2s;
    top: 110%;
}

div:nth-child(5) {
    animation-duration: 8s;
    top: 30%;
}

div:nth-child(6) {
    animation-duration: 4s;
    top: 180%;
}

div:nth-child(7) {
    animation-duration: 2s;
    top: 30%;
}

div:nth-child(8) {
    animation-duration: 5s;
    top: 33%;
}

div:nth-child(9) {
    animation-duration: 5s;
    top: 234%;
}

div:nth-child(10) {
    animation-duration: 2s;
    top: 56%;
}

div:nth-child(11) {
    animation-duration: 5s;
    top: 67%;
}

div:nth-child(12) {
    animation-duration: 10s;
    top: 33%;
}

div:nth-child(13) {
    animation-duration: 5s;
    top: 345%;
}

div:nth-child(14) {
    animation-duration: 5s;
    top: 100%;
}

@keyframes movingStars {
    from {
        left: -100px;
        top: 0px;
    }
    to {
        left: calc(100% + 100px);
        bottom: 0px;
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    33% {
        transform: rotate(20deg);
    }

    66% {
        transform: rotate(-20deg);
    }
}


@keyframes cloud {
    0% {
        transform: translateX(-14vw);
    }

    100% {
        transform: translateX(100vw);
    }
}