/*whitesmoke = #f5f5f5;*/
/*midnightblue = #191970;*/

body {
    background: whitesmoke;
    color: midnightblue;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: center;
}

.lightMenu {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.darkMenu {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.menuContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    background-size: 200% 100%;
    -webkit-transition: all ease-in-out 1s;
    -moz-transition: all ease-in-out 1s;
    transition: all ease-in-out 1s;
}

@media (prefers-color-scheme: dark) {
    .menuContainer {
        color: whitesmoke;
        background-image: linear-gradient(to left, whitesmoke 50%, midnightblue 50%);
    }

    input:checked ~ .menuContainer {
        color: midnightblue;
        background-position: 100% 0;
    }

    .lightMenu {
        color: midnightblue;
    }

    .darkMenu {
        color: whitesmoke;
    }
}

@media (prefers-color-scheme: light) {
    .menuContainer {
        color: midnightblue;
        background-image: linear-gradient(to right, whitesmoke 50%, midnightblue 50%);
    }

    input:checked ~ .menuContainer {
        color: whitesmoke;
        background-position: -100% 0;
    }

    .lightMenu {
        color: midnightblue;
    }

    .darkMenu {
        color: whitesmoke;
    }
}