body {
    font-family: sans-serif;
    letter-spacing: 1px;
    text-transform: uppercase;
    user-select: none;
}

main, label {
    background-color: whitesmoke;
    color: midnightblue;
    background-image: linear-gradient(to right, whitesmoke 50%, midnightblue 50%);
    background-size: 200% 100%;
}

main {
    display: flex;
    justify-content: space-evenly;
    height: 100%;
    position: fixed;
    z-index: -10;
    top: 0;
    left: 0;
    width: 100%;
    transition: all ease-in-out 1s;
    padding: 12vh 0 0;
}

label {
    display: none !important;
}

input{
    display: none !important;
}


header {
    position: absolute;
    left: 0;
    right: 0;
    top: 1vh;
    text-align: center;
    color: midnightblue;
    transition: all ease-in-out 1s;
}

a {
    color: inherit;
    text-decoration: inherit;
}

input {
    display: none;
}

input:first-of-type:checked ~ main {
    background-color: midnightblue;
    color: whitesmoke;
    background-position: -100% 0;
}

input:first-of-type:checked ~ header {
    color: whitesmoke;
}

input:first-of-type:checked ~ label {
    background-color: midnightblue;
    color: whitesmoke;
    background-position: -100% 0;

    border: 1px solid whitesmoke;
    box-shadow: 0 4px 0 whitesmoke, 0 4px 0 0 whitesmoke;
}

input:first-of-type:checked ~ label:active {
    box-shadow: none;
}

input:first-of-type:checked ~ label:after {
    box-shadow: none;
}

label {
    display: block;
    width: fit-content;
    background-color: whitesmoke;
    color: midnightblue;
    box-shadow: 0 4px 0 midnightblue, 0 4px 0 0 midnightblue;
    transition: box-shadow 100ms ease-in-out, background-position 1s ease-in-out, color 1s ease-in-out, border 1s ease-in-out;
}

label:active {
    box-shadow: none;
}

input:first-of-type:checked ~ main section:first-of-type > div {
    color: midnightblue;
    opacity: 0;
    pointer-events: none;
}

input:first-of-type:not(:checked) ~ main section:last-of-type > div {
    color: whitesmoke;
    opacity: 0;
    pointer-events: none;
}

section {
    display: flex;
    flex-direction: column;
    height: 87vh;
    z-index: 10;
    justify-content: space-evenly;
    margin-top: 2vh;
}

section:last-of-type {
    right: 0;
    direction: rtl;
}

section:first-of-type > div, section:last-of-type > div {
    width: 14vh;
    height: 18vh;
    padding: 1vh;
    transition: all 500ms ease-in-out;
    margin-bottom: 8px;
    pointer-events: all;
    font-size: 80%;
    display: flex;
}

section:first-of-type > div {
    flex-direction: row;
    padding-left: 8px;
}

section:last-of-type > div {
    flex-direction: row-reverse;
}

section:first-of-type > div > div, section:last-of-type > div > div {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    transition: all 500ms ease-in-out;
    opacity: 0;
}

section:first-of-type > div > div {
    padding-left: 4vw;
}

section:first-of-type > div:target, section:last-of-type > div:target {
    flex-grow: 1;
    width: 40vh;
    height: 19vh;
}

section:first-of-type > div:target > div, section:last-of-type > div:target > div {
    opacity: 100;
}

section:first-of-type > div > a > img, section:last-of-type > div > a > img {
    padding-top: 20%;
}

section:not(:first-of-type):not(:last-of-type) {
    width: 19vh;
    height: 19vh;
    padding: 1vh;
    transition: all 500ms ease-in-out;
    margin-bottom: 8px;
}

section:first-of-type > div {
    text-align: left;
    background: url("../img/blue-panel.svg");
    color: whitesmoke;
}

section:last-of-type > div {
    text-align: right;
    background: url("../img/white-panel.svg");
    color: midnightblue;
}

body > div > div {
    position: fixed;
    width: 3px;
    height: 3px;
    background-color: whitesmoke;
    animation: movingStars infinite;
}

input:checked ~ img[src="img/sun.svg"] {
    display: none;
}

input:not(:checked) ~ div {
    display: none;
}

input:not(:checked) ~ img[src="img/moon.svg"] {
    display: none;
}

img[src="img/sun.svg"] {
display: none;
}

img[src="img/moon.svg"] {
display: none;
}